<div class="chat-wrapper">
    <div data-w-id="bd91d2ee-ded2-4630-d0df-a0c8aff8b17d" class="popup-close-div"></div>
    <div class="div-block-41">
      <div class="chat-popup index">
        <div class="div-block-37">
          <div data-w-id="17a6a05f-e111-f845-f643-62944bd96680" class="div-block-36"><img src="{{ images.-604ce1d0.url }}" loading="lazy" alt="{{ images.-604ce1d0.alt | trim | escape }}" class="popup-close"></div>
        </div>
        <div class="div-block-10">
          <div class="popup-title">{{ texts.-5ae8ab1f }}</div>
          <div class="div-block-34">
            <a href="{{ links.1fd39bb1 }}" class="square-button w-button">{{ texts.5b400e5d }}</a>
          </div>
        </div>
        <div class="div-block-10">
          <div class="popup-title">{{ texts.322516c2 }}</div>
          <div class="div-block-34">
            <a href="{{ links.1b2792b5 }}" class="square-button w-button">{{ texts.-22ebddeb }}</a>
          </div>
        </div>
        <div class="div-block-40">
          <div class="popup-title">{{ texts.-1450ae88 }}</div>
        </div>
        <div class="popup-selection-wrapper">
          <div data-w-id="5b84f35d-51c4-e051-34e8-0588837d65b4" class="popup-selection-item">
            <div class="color-sky"><strong>{{ texts.-c0bff89 }}</strong></div><img src="{{ images.49856fe6.url }}" loading="lazy" alt="{{ images.49856fe6.alt | trim | escape }}">
          </div>
          <div data-w-id="f20ae026-b9c8-c82c-e482-8caf2664b217" class="popup-selection-item">
            <div class="color-sky"><strong>{{ texts.448e60df }}</strong></div><img src="{{ images.49856fe6.url }}" loading="lazy" alt="{{ images.49856fe6.alt | trim | escape }}">
          </div>
        </div>
        <div class="div-block-10">
          <div class="popup-title">{{ texts.4ff4d96c }}</div>
          <div class="div-block-34">
            <a href="{{ links.560a6d58 }}" class="square-button w-button">{{ texts.-4819c066 }}</a>
          </div>
        </div>
      </div>
      <div id="chat-medical" data-w-id="77c1ddc5-e8bd-0048-bb00-7fbe98b5ccbb" class="chat-popup inner">
        <div class="div-block-35">
          <div data-w-id="eff468c6-54a9-1e6d-a322-26d3c6547114" class="div-block-36"><img src="{{ images.49856fe6.url }}" loading="lazy" alt="{{ images.49856fe6.alt | trim | escape }}" class="arrow-left"></div>
          <div data-w-id="176c81d7-ac07-557f-a87c-9c728ec00d9f" class="div-block-36"><img src="{{ images.-604ce1d0.url }}" loading="lazy" alt="{{ images.-604ce1d0.alt | trim | escape }}" class="popup-close"></div>
        </div>
        <div class="div-block-10">
          <div class="popup-title color-sky">{{ texts.6f21a6e3 }}</div>
          <div href="" class="rich-text-white-blue w-richtext">
            <p><strong>{{ texts.-7e813cfe }}</strong>{{ texts.75c2aae }}</p>
            <p><strong><em>{{ texts.200d }}</em></strong><em>{{ texts.-1dc0bb49 }}</em></p>
            <p>{{ texts.200d }}<strong>{{ texts.65647fb5 }}</strong><strong><br>{{ texts.200d }}</strong>{{ texts.9bfc6ce }}<a href="{{ links.7774fe30 }}">{{ texts.7a8b0131 }}</a> <a href="{{ links.23 }}">{{ texts.200d }}</a>
            </p>
          </div>
          <div class="div-block-34">
            <a href="{{ links.4685e5fb }}" target="_blank" class="square-button w-button">{{ texts.34171686 }}</a>
            <a href="{{ links.7774fe30 }}" class="square-button w-button">{{ texts.-45930238 }}</a>
          </div>
        </div>
      </div>
      <div id="chat-legal" data-w-id="958acbdf-c80a-c95a-3364-8304db31f254" class="chat-popup inner">
        <div class="div-block-35">
          <div data-w-id="958acbdf-c80a-c95a-3364-8304db31f256" class="div-block-36"><img src="{{ images.49856fe6.url }}" loading="lazy" alt="{{ images.49856fe6.alt | trim | escape }}" class="arrow-left"></div>
          <div data-w-id="958acbdf-c80a-c95a-3364-8304db31f258" class="div-block-36"><img src="{{ images.-604ce1d0.url }}" loading="lazy" alt="{{ images.-604ce1d0.alt | trim | escape }}" class="popup-close"></div>
        </div>
        <div class="div-block-10">
          <div class="popup-title color-sky">{{ texts.-6e2c2485 }}</div>
          <div href="" class="rich-text-white-blue w-richtext">
            <p><strong>{{ texts.3ec39519 }}</strong>{{ texts.-7c4c27f1 }}</p>
            <p><strong>{{ texts.623a25e2 }}</strong><br>{{ texts.77de4e24 }}<a href="{{ links.-22dfa1b2 }}">{{ texts.-1fc99eb1 }}</a>
            </p>
          </div>
          <div class="div-block-34">
            <a href="{{ links.4b207ecc }}" target="_blank" class="square-button w-button">{{ texts.34171686 }}</a>
            <a href="{{ links.-22dfa1b2 }}" class="square-button w-button">{{ texts.1fee7e }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>