<div fs-cc="banner" class="fs-cc-banner_component">
      <div class="fs-cc-banner_container">
        <div class="rich-text-grey-blue small w-richtext">
          <p>{{ texts.-7122816 }}<a href="{{ links.-680140cd }}">{{ texts.-3fbde6f6 }}</a>{{ texts.2e }}</p>
        </div>
        <div class="fs-cc-banner_buttons-wrapper">
          <a id="deny-cookies" fs-cc="deny" href="{{ links.23 }}" class="fs-cc-banner_button w-button">{{ texts.-40d9052a }}</a>
          <a id="accept-cookies" fs-cc="allow" href="{{ links.23 }}" class="fs-cc-banner_button fs-cc-button-alt w-button">{{ texts.9dc }}</a>
          <div fs-cc="close" class="fs-cc-banner_close">
            <div class="fs-cc-banner_close-icon w-embed"><svg fill="currentColor" aria-hidden="true" focusable="false" viewBox="0 0 16 16">
                <path d="M9.414 8l4.293-4.293-1.414-1.414L8 6.586 3.707 2.293 2.293 3.707 6.586 8l-4.293 4.293 1.414 1.414L8 9.414l4.293 4.293 1.414-1.414L9.414 8z"></path>
              </svg></div>
          </div>
        </div>
      </div>
      <div fs-cc="interaction" class="fs-cc-banner_trigger"></div>
    </div>