<div class="footer wf-section">
    <div class="_1400-container">
      <a href="{{ links.2f }}" aria-current="page" class="footer-brand-linkblock w-inline-block w--current"><img src="{{ images.29d251.url }}" loading="lazy" width="213" alt="{{ images.29d251.alt | trim | escape }}" class="footer-logo"></a>
      <div class="footer-grid-wrapper">
        <div class="w-layout-grid footer-grid">
          <div id="w-node-b0703e7f-37c8-15e6-f6b9-9d9a65f0f03a-65f0f034" class="footer-newsletter-wrapper">
            <h3 class="section-h4 white">{{ texts.eff8c08 }}</h3>
            <div id="WF-Form-Newsletter-Footer" class="footer-form-block hidden w-form">
              <form method="post" class="footer-form" hubspot-portal-id="8779019" name="wf-form-Newsletter-Signup-Footer" hubspot-form-id="cc951d3a-ffa8-4dcb-9f74-b165efddd450" data-name="newsletter_signup_footer" action="/" hubspot="form" id="email-form" data-ajax="true"><input type="email" class="footer-form-text-field w-input" maxlength="256" name="email" data-name="email" placeholder="Your Email" hubspot="element" id="email" required=""><input type="submit" value="Sign Up" data-wait="Please wait..." class="form-button w-button">
                <div class="w-embed">
                  <!-- <input type="hidden" hubspot="element" data-name="source" name="source" value="Newsletter Signup"> -->
                  <input type="hidden" hubspot="element" data-name="add_me_to_the_newsletter_list" name="add_me_to_the_newsletter_list" value="on">
                  <input type="hidden" hubspot="element" data-name="datetime_stamp" name="datetime_stamp" value="">
                </div>
              </form>
              <div class="success-message w-form-done">
                <div class="submitted-message">
                  <div class="center w-richtext">
                    <p>{{ texts.-c177f28 }}</p>
                  </div>
                </div>
              </div>
              <div class="error-message w-form-fail">
                <div class="error-form">{{ texts.-7c112e99 }}</div>
              </div>
            </div>
            <div class="footer-donate-wrapper">
              <a data-w-id="8b540d89-5fac-70d3-96e4-27991783c5a1" href="{{ links.67392b5e }}" class="h3-link w-inline-block">
                <div class="h4-link-wrapper footer">
                  <h4 class="h3-link-text h3-link-text-light">{{ texts.76cb3220 }}</h4>
                  <div class="h3-link-arrow h3-arrow-light w-embed"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <style type="text/css">
	.st0{fill:CurrentColor;}
</style>
                      <path class="st0" d="M30 15C30 6.71719 23.2838 0 15 0C6.71625 0 0 6.71625 0 15C0 23.2838 6.71625 30 15 30C23.2838 30 30 23.2828 30 15ZM13.6266 21.99C12.9272 21.2906 12.9272 20.1591 13.6266 19.4597L16.245 16.8741H9.31687C8.31281 16.8741 7.5 16.0613 7.5 15.0581V14.9409C7.5 13.9378 8.31281 13.125 9.31687 13.125H16.2197L13.6266 10.5619C12.9272 9.8625 12.9272 8.73094 13.6266 8.03156C14.3334 7.33594 15.4762 7.33219 16.1831 8.03156L21.9544 13.7484C22.6537 14.4441 22.6537 15.5794 21.9544 16.2778L16.1831 21.9909C15.4762 22.6894 14.3334 22.6894 13.6266 21.99Z"></path>
                    </svg></div>
                </div>
              </a>
              <p class="section-paragraph-small light-slate-grey">{{ texts.-5c39993f }}</p>
            </div>
          </div>
          <div id="w-node-b0703e7f-37c8-15e6-f6b9-9d9a65f0f04e-65f0f034" class="footer-menu">
            <div id="w-node-b0703e7f-37c8-15e6-f6b9-9d9a65f0f04f-65f0f034" class="footer-menu-section">
              <a href="{{ links.1b2792b5 }}" class="footer-menu-heading w-inline-block">{{ texts.-328c84ee }}</a>
              <a href="{{ links.1b2792b5 }}" class="footer-menu-item">{{ texts.240aad33 }}</a>
              <a href="{{ links.1fd39bb1 }}" class="footer-menu-item">{{ texts.10ef6 }}</a>
              <a href="{{ links.560a6d58 }}" class="footer-menu-item">{{ texts.-236130e6 }}</a>
              <a href="{{ links.-52ed5fd5 }}" class="footer-menu-item">{{ texts.-65c16cca }}</a>
            </div>
            <div id="w-node-b0703e7f-37c8-15e6-f6b9-9d9a65f0f061-65f0f034" class="footer-menu-section">
              <a href="{{ links.24e18545 }}" class="footer-menu-heading w-inline-block">{{ texts.4422b111 }}</a>
              <a href="{{ links.24e18545 }}" class="footer-menu-item">{{ texts.70ab6fef }}</a>
              <a href="{{ links.-7cc145cd }}" class="footer-menu-item">{{ texts.de4ef9f }}</a>
              <a href="{{ links.-2b368062 }}" class="footer-menu-item">{{ texts.b14c0c0 }}</a>
              <a href="{{ links.-6c237ffb }}" class="footer-menu-item">{{ texts.63fe1357 }}</a>
              <a href="{{ links.41d88d38 }}" class="footer-menu-item">{{ texts.34e9ab0f }}</a>
              <a href="{{ links.67392b5e }}" class="footer-menu-item">{{ texts.7a59368f }}</a>
            </div>
            <div class="footer-menu-section last">
              <a href="{{ links.55b8e8be }}" class="footer-menu-heading w-inline-block">{{ texts.-1fc6bac1 }}</a>
              <a href="{{ links.5664243e }}" class="footer-menu-item">{{ texts.24aa90d }}</a>
              <a href="{{ links.56633515 }}" class="footer-menu-item">{{ texts.477c349 }}</a>
              <a href="{{ links.-580ba8fe }}" class="footer-menu-item">{{ texts.27b67d }}</a>
              <a href="{{ links.-67dbae31 }}" class="footer-menu-item">{{ texts.-6587838c }}</a>
              <a href="{{ links.335c25a6 }}" class="footer-menu-item">{{ texts.-62057db7 }}</a>
              <a href="{{ links.4b0e6111 }}" class="footer-menu-item">{{ texts.-64104400 }}</a>
            </div>
          </div>
          <div id="w-node-b0703e7f-37c8-15e6-f6b9-9d9a65f0f077-65f0f034" class="footer-disclaimer-social-wrapper">
            <div>
              <p class="section-paragraph white"><strong>{{ texts.-7dad1a21 }}</strong></p>
              <p class="section-paragraph-small light-slate-grey">{{ texts.707a1089 }}</p>
            </div>
            <div class="footer-social-row">
              <div class="footer-textblock">{{ texts.3a82d26f }}<a href="{{ links.-48df62e7 }}" target="_blank" class="site-credit-link">{{ texts.6cb7e480 }}</a>
              </div>
              <div class="footer-socials-wrapper">
                <a href="{{ links.10a5f41f }}" target="_blank" class="footer-socal-linkblock w-inline-block"><img src="{{ images.-6019cb11.url }}" loading="lazy" alt="{{ images.-6019cb11.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;25px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;3vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;25px&quot;}]" class="footer-social-logo"></a>
                <a href="{{ links.65d90418 }}" target="_blank" class="footer-socal-linkblock w-inline-block"><img src="{{ images.15e467b0.url }}" loading="lazy" alt="{{ images.15e467b0.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;25px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;3vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;25px&quot;}]" class="footer-social-logo"></a>
                <a href="{{ links.64320230 }}" target="_blank" class="footer-socal-linkblock w-inline-block"><img src="{{ images.-3928c041.url }}" loading="lazy" alt="{{ images.-3928c041.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;25px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;3vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;25px&quot;}]" class="footer-social-logo"></a>
                <a href="{{ links.-7de7c249 }}" target="_blank" class="footer-socal-linkblock w-inline-block"><img src="{{ images.-7a5f4d31.url }}" loading="lazy" alt="{{ images.-7a5f4d31.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;25px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;3vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;25px&quot;}]" class="footer-social-logo"></a>
                <a href="{{ links.88e362a }}" target="_blank" class="footer-socal-linkblock w-inline-block"><img src="{{ images.7c9559f7.url }}" loading="lazy" alt="{{ images.7c9559f7.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;25px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;3vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;25px&quot;}]" class="footer-social-logo"></a>
              </div>
            </div>
          </div>
          <div id="w-node-b0703e7f-37c8-15e6-f6b9-9d9a65f0f085-65f0f034" class="footer-site-credits">
            <div class="site-credit-row">
              <div class="site-credit-text">{{ texts.-44ad4b80 }}<a href="{{ links.3ab8a82d }}" target="_blank" class="site-credit-link">{{ texts.1f0de4 }}</a>
              </div>
              <div class="site-credit-text">{{ texts.4839460c }}<a href="{{ links.981455d }}" target="_blank" class="site-credit-link">{{ texts.719e9699 }}</a>
              </div>
              <div class="site-credit-text">{{ texts.74f89967 }}<a href="{{ links.32480d0c }}" target="_blank" class="site-credit-link">{{ texts.-4b24a4b8 }}</a>
              </div>
              <div class="site-credit-text">{{ texts.-2b921bdb }}<a href="{{ links.32480d0c }}" target="_blank" class="site-credit-link">{{ texts.-4418e438 }}</a>{{ texts.7d5a }}<a href="{{ links.62b902d3 }}" target="_blank" class="site-credit-link">{{ texts.78efb22c }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-bar">
        <div class="copyright-text">{{ texts.256f5c8c }}<a href="{{ links.408df0d4 }}" target="_blank" class="site-credit-link">{{ texts.-64f4ec40 }}</a>
        </div>
        <div class="copyright-text">
          <a href="{{ links.-680140cd }}" class="copyright-link">{{ texts.1218a835 }}</a>
        </div>
      </div>
    </div>
  </div>