<div data-animation="default" class="navbar w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" data-w-id="65329bf8-5c8a-b133-84c4-196d370ccbf2" role="banner" data-duration="400" data-doc-height="1">
    <div class="full-width-container">
      <a href="{{ links.2f }}" aria-current="page" class="brand-link-block w-nav-brand w--current"><img src="{{ images.-791965fd.url }}" loading="lazy" width="213" alt="{{ images.-791965fd.alt | trim | escape }}" data-w-id="65329bf8-5c8a-b133-84c4-196d370ccbf5" class="nav-brand"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <a href="{{ links.1fd39bb1 }}" class="nav-dropdown-text disable-link w-nav-link">{{ texts.10ef6 }}</a>
          </div>
          <nav class="nav-dropdown-list w-dropdown-list">
            <a href="{{ links.-222721e }}" class="nav-link w-nav-link">{{ texts.20a9cc25 }}</a>
            <a href="{{ links.-268a8a45 }}" class="nav-link w-nav-link">{{ texts.-4126a472 }}</a>
            <a href="{{ links.-5ee10345 }}" class="nav-link w-nav-link">{{ texts.-62d999b2 }}</a>
            <a href="{{ links.7e57c57b }}" class="nav-link w-nav-link">{{ texts.7aade05 }}</a>
            <a href="{{ links.1fd39bb1 }}" class="nav-link w-nav-link">{{ texts.-475b7d60 }}</a>
          </nav>
        </div>
        <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <a href="{{ links.560a6d58 }}" class="nav-dropdown-text disable-link w-nav-link">{{ texts.-4819c066 }}</a>
          </div>
          <nav class="nav-dropdown-list w-dropdown-list">
            <a href="{{ links.560a6d58 }}" class="nav-link mobile-only w-nav-link">{{ texts.18c17235 }}</a>
            <a href="{{ links.79a223f5 }}" class="nav-link w-nav-link">{{ texts.2093d728 }}</a>
            <a href="{{ links.-4e0c9cb0 }}" class="nav-link w-nav-link">{{ texts.6a4ae548 }}</a>
            <a href="{{ links.-6f8e4660 }}" class="nav-link w-nav-link">{{ texts.-95060e8 }}</a>
            <a href="{{ links.-4e0cb125 }}" class="nav-link w-nav-link">{{ texts.-5046177f }}</a>
            <a href="{{ links.-65a22505 }}" class="nav-link w-nav-link">{{ texts.-e3dfc95 }}</a>
            <a href="{{ links.-4b25428b }}" class="nav-link w-nav-link">{{ texts.-466f67fa }}</a>
          </nav>
        </div>
        <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <a href="{{ links.24e18545 }}" class="nav-dropdown-text disable-link w-inline-block">{{ texts.4422b111 }}</a>
          </div>
          <nav class="nav-dropdown-list w-dropdown-list">
            <a href="{{ links.24e18545 }}" class="nav-link w-nav-link">{{ texts.-58b97c31 }}</a>
            <a href="{{ links.-7cc145cd }}" class="nav-link w-nav-link">{{ texts.-698d3041 }}</a>
            <a href="{{ links.-2b368062 }}" class="nav-link w-nav-link">{{ texts.b14c0c0 }}</a>
            <a href="{{ links.-6c237ffb }}" class="nav-link w-nav-link">{{ texts.151ca812 }}</a>
            <a href="{{ links.41d88d38 }}" class="nav-link w-nav-link">{{ texts.1a38b7a6 }}</a>
            <a href="{{ links.23 }}" class="nav-link w-nav-link">{{ texts.-11e1460e }}</a>
            <a href="{{ links.67392b5e }}" class="nav-link w-nav-link">{{ texts.7a59368f }}</a>
          </nav>
        </div>
        <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle last w-dropdown-toggle">
            <a href="{{ links.55b8e8be }}" class="nav-dropdown-text disable-link w-inline-block">{{ texts.-1fc6bac1 }}</a>
          </div>
          <nav class="nav-dropdown-list w-dropdown-list">
            <a href="{{ links.55b8e8be }}" class="nav-link w-nav-link">{{ texts.-5d08e694 }}</a>
            <a href="{{ links.5664243e }}" class="nav-link w-nav-link">{{ texts.24aa90d }}</a>
            <a href="{{ links.-580ba8fe }}" class="nav-link w-nav-link">{{ texts.27b67d }}</a>
            <a href="{{ links.335c25a6 }}" class="nav-link w-nav-link">{{ texts.3ac1ee49 }}</a>
            <a href="{{ links.-67dbae31 }}" class="nav-link w-nav-link">{{ texts.-6587838c }}</a>
            <a href="{{ links.56633515 }}" class="nav-link w-nav-link">{{ texts.-2a62960e }}</a>
            <a href="{{ links.4b0e6111 }}" class="nav-link w-nav-link">{{ texts.7f2746de }}</a>
          </nav>
        </div>
        <a href="{{ links.-403b20a1 }}" class="nav-search-link-mobile w-inline-block"><img src="{{ images.4d50a40.url }}" loading="lazy" alt="{{ images.4d50a40.alt | trim | escape }}" class="nav-search-icon"></a>
        <div class="mobile-nav-button-wrapper">
          <a href="{{ links.1b2792b5 }}" class="button teal nav-pills mobile w-button">{{ texts.240aad33 }}</a>
        </div>
        <div class="mobile-nav-button-wrapper">
          <a href="{{ links.67392b5e }}" class="button teal nav-donate mobile w-button">{{ texts.7a59368f }}</a>
        </div>
      </nav>
      <div class="nav-social-wrapper">
        <a href="{{ links.1b2792b5 }}" class="button teal nav-pills w-button">{{ texts.240aad33 }}</a>
        <a href="{{ links.67392b5e }}" class="button teal nav-donate w-button">{{ texts.7a59368f }}</a>
        <div class="wg-element">
          <div class="wg-element-wrapper sw4">
            <a lang="en" data-w-id="f33f2b5e-b5e1-97e6-0874-6bbd6afa4db8" href="{{ links.23 }}" class="wg-selector-3 s1 w-inline-block">
              <div class="wg-selector3-text-lang1">{{ texts.1109e }}</div>
            </a>
            <a lang="es" data-w-id="f33f2b5e-b5e1-97e6-0874-6bbd6afa4dbb" href="{{ links.23 }}" class="wg-selector-3 s2 w-inline-block">
              <div class="wg-selector3-text-lang2">{{ texts.10d62 }}</div>
            </a>
          </div>
          <div class="wg-code w-embed w-script">
            <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
            <script>
    Weglot.initialize({
        api_key: 'wg_cdd8e20c4407bd78587ae550822860b15'
    });
// on Weglot init
Weglot.on('initialized', ()=>{
	// get the current active language
  const currentLang = Weglot.getCurrentLang();
  // if the current active language link exists
  if(document.querySelector('.wg-element-wrapper.sw4 [lang='+currentLang+']')){
  	// click the link
  	document.querySelector('.wg-element-wrapper.sw4 [lang='+currentLang+']').click();
  }
});
// for each of the .wg-element-wrapper language links
document.querySelectorAll('.wg-element-wrapper.sw4 [lang]').forEach((link)=>{
	// add a click event listener
	link.addEventListener('click', function(e){
  	// prevent default
		e.preventDefault();
    // switch current active language after a setTimeout
    setTimeout(()=>Weglot.switchTo(this.getAttribute('lang')),700);
	});
});
</script>
          </div>
        </div>
        <div class="menu-button w-nav-button"><img src="{{ images.7f70bbe1.url }}" loading="lazy" alt="{{ images.7f70bbe1.alt | trim | escape }}" class="menu-hamburger"></div>
        <a href="{{ links.23 }}" class="quick-exit w-inline-block">
          <div class="button-exit-x w-embed"><svg fill="currentColor" aria-hidden="true" focusable="false" viewBox="0 0 16 16" role="img">
              <title>Click here for quick exit</title>
              <path d="M9.414 8l4.293-4.293-1.414-1.414L8 6.586 3.707 2.293 2.293 3.707 6.586 8l-4.293 4.293 1.414 1.414L8 9.414l4.293 4.293 1.414-1.414L9.414 8z"></path>
            </svg></div>
        </a>
      </div>
    </div>
  </div>