<div id="support-directory" class="page-section support-guide wf-section">
    <div class="_950-container">
      <div class="div-block-17"><img src="{{ images.-652f3033.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;38vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;297px&quot;}]" alt="{{ images.-652f3033.alt | trim | escape }}" class="image-7">
        <div class="div-block-18">
          <h2 class="section-h3 white">{{ texts.4b7ca02e }}</h2>
          <div class="rich-text-support-container">
            <h3 class="h4-support-footer">{{ texts.-475b7d60 }}</h3>
            <div class="rich-text-support w-richtext">
              <p>{{ texts.-54c5423a }}</p>
            </div>
            <a href="{{ links.1fd39bb1 }}" class="square-button w-button">{{ texts.5b400e5d }}</a>
          </div>
          <div class="rich-text-support-container">
            <h3 class="h4-support-footer">{{ texts.-69b78179 }}</h3>
            <div href="" class="rich-text-support w-richtext">
              <p>{{ texts.-b3b02dd }}</p>
              <p><strong>{{ texts.65647fb5 }}<br></strong>{{ texts.-2698be88 }}<strong><br>{{ texts.200d }}</strong>{{ texts.9bfc6ce }}<a href="{{ links.7774fe30 }}">{{ texts.7a8b0131 }}</a> <a href="{{ links.23 }}">{{ texts.200d }}</a>
              </p>
            </div>
            <div class="div-block-34">
              <a href="{{ links.3b3c8fb2 }}" target="_blank" class="square-button w-button">{{ texts.34171686 }}</a>
              <a href="{{ links.-36b9ef02 }}" class="square-button w-button">{{ texts.-45930238 }}</a>
            </div>
          </div>
          <div class="rich-text-support-container">
            <h3 class="h4-support-footer">{{ texts.2bebbe0e }}</h3>
            <div href="" class="rich-text-support w-richtext">
              <p>{{ texts.-10da458c }}</p>
              <p><strong>{{ texts.-1257cddb }}</strong><strong><br>{{ texts.200d }}</strong>{{ texts.9bfc6ce }}<a href="{{ links.daad4eb }}">{{ texts.10c0d7ec }}</a> <a href="{{ links.23 }}">{{ texts.200d }}</a>
              </p>
            </div>
            <div class="div-block-34">
              <a href="{{ links.-6a526e01 }}" target="_blank" class="square-button w-button">{{ texts.34171686 }}</a>
              <a href="{{ links.daad4eb }}" class="square-button w-button">{{ texts.-45930238 }}</a>
            </div>
          </div>
          <div class="rich-text-support-container last">
            <h3 class="h4-support-footer">{{ texts.-58bb5511 }}</h3>
            <div target="_blank" class="rich-text-support w-richtext">
              <p>{{ texts.67735b96 }}</p>
              <p><strong>{{ texts.623a25e2 }}</strong><br>{{ texts.77de4e24 }}<a href="{{ links.-22dfa1b2 }}">{{ texts.-1fc99eb1 }}</a>
              </p>
            </div>
            <div class="div-block-34">
              <a href="{{ links.4b207ecc }}" target="_blank" class="square-button w-button">{{ texts.34171686 }}</a>
              <a href="{{ links.-22dfa1b2 }}" class="square-button w-button">{{ texts.1fee7e }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="horiz-menu-with-line">
        <div>
          <h3 class="white">
            <a href="{{ links.1fd39bb1 }}" class="white">{{ texts.-475b7d60 }}</a>
          </h3>
          <div class="rich-text-support w-richtext">
            <p>
              <a href="{{ links.-222721e }}">{{ texts.-1cd257db }}</a>
            </p>
            <p>
              <a href="{{ links.-54f93600 }}">{{ texts.-208abba1 }}</a>
            </p>
            <p>
              <a href="{{ links.-5ee10345 }}">{{ texts.-369d3b34 }}</a>
            </p>
            <p>
              <a href="{{ links.38106c35 }}">{{ texts.-340e55db }}</a>
            </p>
          </div>
        </div>
        <div class="div-block-20"></div>
        <div>
          <h3 class="white">
            <a href="{{ links.560a6d58 }}" class="white">{{ texts.16159462 }}</a>
          </h3>
          <div class="rich-text-support w-richtext">
            <p>
              <a href="{{ links.79a223f5 }}">{{ texts.40462857 }}</a>
            </p>
            <p>
              <a href="{{ links.-4e0cb125 }}">{{ texts.7e02f8a1 }}</a>
            </p>
            <p>
              <a href="{{ links.-4e0c9cb0 }}">{{ texts.-327c82d8 }}</a>
            </p>
            <p>
              <a href="{{ links.-6f8e4660 }}">{{ texts.59e836f8 }}</a>
            </p>
            <p>
              <a href="{{ links.-4b25428b }}">{{ texts.-64e67e10 }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>